In [1]:
CREATE DATABASE riyan_darmawan_toko_buku;

In [2]:
USE riyan_darmawan_toko_buku;

In [3]:
CREATE TABLE distributor (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nama_distributor VARCHAR(100),
    alamat VARCHAR(255),
    telepon VARCHAR(13)
);

In [4]:
CREATE TABLE pasok (
    id_pasok INT PRIMARY KEY AUTO_INCREMENT,
    id_distributor INT,
    tanggal DATE,
    FOREIGN KEY (id_distributor) REFERENCES distributor(id) ON UPDATE CASCADE ON DELETE CASCADE
);

In [5]:
CREATE TABLE buku (
    id_buku INT PRIMARY KEY AUTO_INCREMENT,
    judul VARCHAR(100),
    penulis VARCHAR(100),
    penerbit VARCHAR(100),
    tahun_terbit YEAR,
    stok TINYINT,
    harga_pokok BIGINT,
    harga_jual BIGINT,
    diskon BIGINT
);

In [6]:
CREATE TABLE detail_pasok (
    id BIGINT PRIMARY KEY AUTO_INCREMENT,
    id_pasok INT,
    id_buku INT,
    jumlah TINYINT,
    FOREIGN KEY (id_pasok) REFERENCES pasok(id_pasok) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (id_buku) REFERENCES buku(id_buku) ON UPDATE CASCADE ON DELETE CASCADE
);

In [7]:
CREATE TABLE kasir (
    id_kasir INT PRIMARY KEY AUTO_INCREMENT,
    nama VARCHAR(100),
    alamat VARCHAR(100),
    telepon VARCHAR(100),
    username VARCHAR(100),
    password VARCHAR(255),
    akses ENUM('admin', 'kasir')
);

In [8]:
CREATE TABLE penjualan (
    id_penjualan INT PRIMARY KEY AUTO_INCREMENT,
    id_kasir INT,
    tanggal DATE,
    total BIGINT,
    FOREIGN KEY (id_kasir) REFERENCES kasir(id_kasir) ON UPDATE CASCADE ON DELETE CASCADE
);

In [9]:
CREATE TABLE detail_penjualan (
    id BIGINT PRIMARY KEY AUTO_INCREMENT,
    id_penjualan INT,
    id_buku INT,
    jumlah TINYINT,
    FOREIGN KEY (id_penjualan) REFERENCES penjualan(id_penjualan) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (id_buku) REFERENCES buku(id_buku) ON UPDATE CASCADE ON DELETE CASCADE
);

In [10]:
INSERT INTO kasir(nama, alamat, telepon, username, password, akses) VALUES
('kasir', 'kasir', 'kasir','kasir', 'kasir', 'kasir');